# NEVER commit .env.local or real API keys. Use placeholders in git only.

REACT_APP_API_BASE_URL=http://localhost:5000
REACT_APP_CONTRACT_ADDRESS=0xb1E4d3E5FE855b1cbB4F454E69be4E904fD1571A
REACT_APP_ISSUER_WALLET_ADDRESS=0x8c0BfDecAaEEadCba45EFA5de95F5d5f61136302
REACT_APP_NETWORK_ID=11155111
