# Wallet Private Key
PRIVATE_KEY=YOUR_PRIVATE_KEY_HERE

# Alchemy RPC URL for Sepolia Testnet
SEPOLIA_RPC_URL=YOUR_ALCHEMY_SEPOLIA_RPC_URL

# Etherscan API KEY
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_API_KEY

# Optional RPCs
GOERLI_RPC_URL=
MUMBAI_RPC_URL=
POLYGON_RPC_URL=
MAINNET_RPC_URL=

# Gas Reporting
REPORT_GAS=true
COINMARKETCAP_API_KEY=