# Hardhat files
cache/
artifacts/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Deployment records
deployments/
issuance-records/

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
